body
{
    margin-top: 0;
    font-family: @fontFamily;
    color: @fontColor;
    font-size: 14px;
}

a
{
    color: @linkColor;   
}

.slide-right
{
    float: right;   
}

.slide-left
{
    float: left;   
}